In [95]:
import pandas as pd

In [96]:
df=pd.read_csv("movies.csv")

In [97]:
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

In [98]:
df.shape

(9999, 9)

In [99]:
df.head(10)

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
5,Outer Banks,(2020– ),"\nAction, Crime, Drama",7.6,\nA group of teenagers from the wrong side of ...,"\n \n Stars:\nChase Stokes, \nMa...","25,858",50.0,NaN
6,The Last Letter from Your Lover,(2021),"\nDrama, Romance",6.8,\nA pair of interwoven stories set in the past...,\n Director:\nAugustine Frizzell\n| \n S...,"5,283",110.0,NaN
7,Dexter,(2006–2013),"\nCrime, Drama, Mystery",8.6,"\nBy day, mild-mannered Dexter is a blood-spat...","\n \n Stars:\nMichael C. Hall, \...","665,387",53.0,NaN
8,Never Have I Ever,(2020– ),\nComedy,7.9,\nThe complicated life of a modern-day first g...,\n \n Stars:\nMaitreyi Ramakrish...,"34,530",30.0,NaN
9,Virgin River,(2019– ),"\nDrama, Romance",7.4,"\nSeeking a fresh start, nurse practitioner Me...",\n \n Stars:\nAlexandra Breckenr...,"27,279",44.0,NaN

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9999 non-null   object
 1   YEAR      9355 non-null   object
 2   GENRE     9919 non-null   object
 3   RATING    8179 non-null   float64
 4   ONE-LINE  9999 non-null   object
 5   STARS     9999 non-null   object
 6   VOTES     8179 non-null   object
 7   RunTime   7041 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(2), object(7)
memory usage: 703.2+ KB

In [101]:
df.isnull().sum()

MOVIES         0
YEAR         644
GENRE         80
RATING      1820
ONE-LINE       0
STARS          0
VOTES       1820
RunTime     2958
Gross       9539
dtype: int64

In [102]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997    False
9998    False
Length: 9999, dtype: bool

In [103]:
df.drop_duplicates(inplace=True)

In [104]:
df.head(10)
df.shape

(9568, 9)

In [105]:
df["VOTES"]=pd.to_numeric(df["VOTES"].astype(str).str.replace(",",""),errors="coerce")

In [106]:
df["YEAR"]=df["YEAR"].str.extract("(\d{4})")

In [107]:
df["YEAR"]=pd.to_numeric(df["YEAR"],errors="coerce")

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9568 entries, 0 to 9998
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   MOVIES    9568 non-null   object
 1   YEAR      8933 non-null   float64
 2   GENRE     9490 non-null   object
 3   RATING    8168 non-null   float64
 4   ONE-LINE  9568 non-null   object
 5   STARS     9568 non-null   object
 6   VOTES     8168 non-null   float64
 7   RunTime   7008 non-null   float64
 8   Gross     460 non-null    object
dtypes: float64(4), object(5)
memory usage: 747.5+ KB

In [109]:
df["RATING"]=df["RATING"].fillna(df["RATING"].mean())

In [110]:
df["VOTES"]=df["VOTES"].fillna(df["VOTES"].mean())

In [111]:
df["RunTime"]=df["RunTime"].fillna(df["RunTime"].mean())

In [112]:
# df["YEAR"]=pd.to_numeric(df["YEAR"],errors="coerce")

In [113]:
max_year=df["YEAR"].max()
df["YEAR"]=df["YEAR"].fillna(max_year)

In [114]:
most_common_movies=df["GENRE"].mode()[0]

In [115]:
df["GENRE"]=df["GENRE"].fillna(most_common_movies)

In [116]:
df.isnull().sum()

MOVIES         0
YEAR           0
GENRE          0
RATING         0
ONE-LINE       0
STARS          0
VOTES          0
RunTime        0
Gross       9108
dtype: int64

In [117]:
df["Gross"].isnull().sum()

9108

In [118]:
df=df.drop(["Gross","ONE-LINE","STARS"],axis=1, errors='ignore')

In [119]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9568 entries, 0 to 9998
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   MOVIES   9568 non-null   object
 1   YEAR     9568 non-null   float64
 2   GENRE    9568 non-null   object
 3   RATING   9568 non-null   float64
 4   VOTES    9568 non-null   float64
 5   RunTime  9568 non-null   float64
dtypes: float64(4), object(2)
memory usage: 523.2+ KB

In [120]:
print(df.isnull().sum())

MOVIES     0
YEAR       0
GENRE      0
RATING     0
VOTES      0
RunTime    0
dtype: int64

In [123]:
df["1%_VOTES"] = df["VOTES"] * 0.01
print(df[["MOVIES", "VOTES", "1%_VOTES"]].head(10))

                                MOVIES          VOTES     1%_VOTES
0                        Blood Red Sky   21062.000000   210.620000
1  Masters of the Universe: Revelation   17870.000000   178.700000
2                     The Walking Dead  885805.000000  8858.050000
3                       Rick and Morty  414849.000000  4148.490000
4                      Army of Thieves   15144.414422   151.444144
5                          Outer Banks   25858.000000   258.580000
6      The Last Letter from Your Lover    5283.000000    52.830000
7                               Dexter  665387.000000  6653.870000
8                    Never Have I Ever   34530.000000   345.300000
9                         Virgin River   27279.000000   272.790000

In [132]:
df['GENRE'] = df['GENRE'].str.replace('\n', '')
# 1. Find the BEST movies
print("TOP 5 HIGHEST RATED MOVIES:")
top_movies = df.nlargest(5, 'RATING')[['MOVIES', 'RATING', 'YEAR']]
print(top_movies)

# 2. Most popular genres
print("\nTOP 5 MOST POPULAR GENRES:")
print(df['GENRE'].value_counts().head(5))

# 3. Movies by year
print("\nMOVIES BY YEAR:")
print(df['YEAR'].value_counts().head(5))

TOP 5 HIGHEST RATED MOVIES:
                           MOVIES  RATING    YEAR
7640              BoJack Horseman     9.9  2014.0
8510   Avatar: The Last Airbender     9.9  2005.0
8509   Avatar: The Last Airbender     9.8  2005.0
9892                       Dexter     9.8  2006.0
7159   Avatar: The Last Airbender     9.7  2005.0

TOP 5 MOST POPULAR GENRES:
GENRE
Comedy                                      915
Animation, Action, Adventure                663
Drama                                       546
Documentary                                 495
Crime, Drama, Mystery                       328
Name: count, dtype: int64

MOVIES BY YEAR:
YEAR
2020.0    1676
2019.0    1334
2018.0    1074
2021.0     987
2017.0     835
Name: count, dtype: int64